<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
  </head>

  <body>
    <header>
      <div class="top-header">
        <div class="LOGO">
          <a href="/"><img class="logoHeader" src="./images/logo-mercado-liebre.svg" alt="" /></a>
        </div>
        <div>
          <input type="search" placeholder="Buscar productos, marcas y más" class="search-field">
          <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <h3 class= header-title><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
      </div>  
      <nav>
        <ul class="lista1">
          <li class="nav-buttons1"><a href=""> Ofertas</a></li>
          <li class="nav-buttons1"><a href=""> Tiendas Oficiales</a></li>
          <li class="nav-buttons1"><a href=""> Vender</a></li>
          <li class="nav-buttons1"><a href=""> Ayuda</a></li>
        </ul>

        <ul class="lista2">
          <li class="nav-buttons2"><a href="/register"> Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
          <li class="nav-buttons2"><a href="/login"> Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
          <li class="nav-buttons2"><a href=""> Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </nav>
      <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
    </header>
    
    <main>
        <h3>Ingresá a tu cuenta</h3>
        <form action="/">
            <h4>Nombre de usuario</h4>
            <input class="login" type="text" name="user" placeholder="Ej: JPerez">
            <br>
            <br>
            
            <h4>Contraseña</h4>
            <input class="login" type="password" name="" placeholder="">
            <br>
            <br>
            <br>
            
            <button class="enviar" type="submit">Entrar</button>
            <br>
            <br>

            <h5>¿Todavía no tenés una cuenta?</h5>
            <a href="/register">Registrate acá</a>
        </form>
    </main>

    <footer>
    </footer>
  </body>
</html>
