<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
  </head>

  <body>
    <header>
      <div class="top-header">
        <div class="LOGO">
          <a href="/"><img class="logoHeader" src="./images/logo-mercado-liebre.svg" alt="" /></a>
        </div>
        <div>
          <input type="search" placeholder="Buscar productos, marcas y más" class="search-field">
          <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <h3 class= header-title><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
      </div>  
      <nav>
        <ul class="lista1">
          <li class="nav-buttons1"><a href=""> Ofertas</a></li>
          <li class="nav-buttons1"><a href=""> Tiendas Oficiales</a></li>
          <li class="nav-buttons1"><a href=""> Vender</a></li>
          <li class="nav-buttons1"><a href=""> Ayuda</a></li>
        </ul>

        <ul class="lista2">
          <li class="nav-buttons2"><a href="/register"> Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
          <li class="nav-buttons2"><a href="/login"> Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
          <li class="nav-buttons2"><a href=""> Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </nav>
      <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
    </header>
    
    <main>
        <h3>Creá tu cuenta</h3>
        <form action="/">
            <div class="datos-personales">
                <h4>Nombre y Apellido</h4>
                <input type="text" name="name" placeholder="Ej: Juan Pérez">
                <br>
                <br>
                
                <h4>Nombre de usuario</h4>
                <input type="text" name="user" placeholder="Ej: JPerez">
                <br>
                <br>
            
                <h4>Email</h4>
                <input type="email" name="email" placeholder="Ej: juanperez@email.com">
                <br>
                <br>

                <h4>Domicilio</h4>
                <input type="text" name="addres" id="addres" placeholder="Domicilio">
                <br>
                <br>
            
                <h4>Fecha de nacimiento</h4>
                <input type="date" name="date" id="date">
                <br>
                <br>
            </div>

            <div class="perfil-usuario">
                <h4>Perfil de usuario</h4>
                <input type="radio" value="comprador" name="user-profile" id="">Comprador
                <input type="radio" value="vendedor" name="user-profile" id="">Vendedor
                <br>
                <br>
            </div>
        
            <div>
                <h4>Contraseña</h4>
                <input type="password" name="" placeholder="">
                <br>
                <br>
                <h4>Confirmar contraseña</h4>
                <input type="password-confirm" name="" placeholder="">
                <br>
                <br>
            </div>

            <div>
                <h4>Foto de perfil</h4>
                <input type="file" name="photo" id="photo">
                <br>
                <br>
            </div>

            <div class="intereses">
                <h4>Intereses</h4>
                <input type="checkbox" name="Intereses" value="1">Electro
                <br>
                <input type="checkbox" name="Intereses" value="2">Moda
                <br>
                <input type="checkbox" name="Intereses" value="3">Hogar
                <br>
                <input type="checkbox" name="Intereses" value="4">Juguetería
                <br>
                <input type="checkbox" name="Intereses" value="5">Vida sana
                <br>
                <br>
                <br>
            </div>

            <div>
                <button type="submit">Enviar</button>
                <br>
                <br>
                <button type="reset">Borrar</button>
            </div>
    
        </form>
    </main>

    <footer>
    </footer>
  </body>
</html>
